/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #fffef8;
}
.hidden-title {
  display: none;
}
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

/*partit edition*/
.mode-edition {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 40px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

/*fin edition*/

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 20px;
  font-size: 1.2em;
  cursor: pointer;
}

nav li :hover {
  color: #b1663c;
}

nav img {
  width: 23px;
}

#introduction {
  display: flex;
  align-items: center;
}

#introduction figure {
  flex: 1;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

/*icone et modifier*/
.portfolio-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modifier {
  display: none;
  align-items: center;
  padding-bottom: 27px;
  gap: 10px;
  cursor: pointer;
}

.modifier:hover {
  color: #b1663c;
}

/*fin icone et modifier*/
.edition-modal {
  display: flex;
  gap: 10px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.paragraphe:hover {
  transform: scale(1.1);
}

/*****partie filtre*****/
.filter {
  display: flex;
  justify-content: space-evenly;
  margin: 35px auto;
  width: 45%;
}

.filter button {
  background-color: #fffef8;
  border: 1px solid #1d6154;
  border-radius: 25px;
  color: #1d6154;
  padding: 5px 10px;
  font-family: "Syne";
}

.filter button:hover {
  background-color: #1d6154;
  color: white;
  cursor: pointer;
}

/***fin partie filtre***/

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
  height: 490px;
  object-fit: cover;
  display: block;
}

#contact {
  width: 50%;
  margin: auto;
}

#contact > * {
  text-align: center;
}

#contact h2 {
  margin-bottom: 20px;
}

#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
  margin: 2em 0 1em 0;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
  background-color: #ffff;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

/*******modal********/

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  position: relative;
  width: min(90vw, 630px);
  max-height: 90vh;
  overflow-y: auto;
  padding: 40px 80px;
  border-radius: 10px;
  box-sizing: border-box;
}

.modal-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px 10px;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}

.modal-gallery img {
  width: 100%;
  height: 102px;
  object-fit: cover;
  display: block;
}

.modal-content h3 {
  text-align: center;
  font-family: "Work Sans";
  font-size: 26px;
  font-weight: 400;
  padding-bottom: 50px;
}

.add-photo {
  display: block;
  margin: 80px auto 0 auto;
  font-family: "Syne", sans-serif;
  background-color: #1d6154;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 60px;

  width: 237px;
  height: 36px;

  cursor: pointer;
}

.modal-content hr {
  margin-top: 50px;
  width: 90%;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: #ffff;
  cursor: pointer;
  font-size: 25px;
  transition: transform 0.2s ease;
}

.close-modal:hover {
  transform: scale(1.2);
}

.modal-item {
  position: relative;
}

.modal-item i {
  position: absolute;
  top: 6px;
  right: 6px;
  background: black;
  color: white;
  padding: 4px;
  border-radius: 3px;
  font-size: 10px;
}

#login-link {
  color: black;
  text-decoration: none;

  font-size: 17px;
  cursor: pointer;
}

#login-link:hover {
  color: #b1663c;
}

.ajout-photo {
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.retour-modal {
  position: absolute;
  left: -50px;
  top: -10px;
  border: none;
  background-color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.retour-modal:hover {
  transform: scale(1.2);
}

.ajout-photo form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*fin modal*/

/*modal ajout photo*/

.ajout-photo {
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.retour-modal {
  position: absolute;
  left: -50px;
  top: -10px;
  border: none;
  background-color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.retour-modal:hover {
  transform: scale(1.2);
}

.ajout-photo form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.upload-photo {
  width: 100%;
  height: 170px;
  background-color: #e8f1f6;
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  align-items: center;

  position: relative;
  overflow: hidden;
}

.upload-photo input {
  display: none;
}

.upload-photo label {
  background-color: #cbd6dc;
  color: #306685;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 500;
}

.upload-photo i {
  font-size: 60px;
  color: #b9c5cc;
}

.upload-photo p {
  font-size: 10px;
  color: #444444;
}

.preview-photo {
  display: none;
  width: 130px;
  height: 100%;
  object-fit: cover;
}

.ajout-photo form {
  width: 100%;
  max-width: 420px;
}

.ajout-photo input[type="text"],
.ajout-photo select {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
}

.btn-valider {
  display: block;
  margin: 80px auto 0 auto;
  font-family: "Syne", sans-serif;
  background-color: #a7a7a7;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 60px;

  width: 237px;
  height: 36px;

  cursor: pointer;
}

@media (max-width: 600px) {
  .modal-content {
    width: 90vw;
    padding: 30px 25px;
  }

  .modal-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
